.centre-align-item {
    display: flex;
    justify-content: center;
}

.star-war-header{
    @extend .centre-align-item;
    font-style: italic;
    font-weight: bold;
    color: black;
    font-size: -webkit-xxx-large;
    background-color: antiquewhite;

}

.login-credentials{
    display: grid;
    justify-content: center;
    margin-top: 215px;
    font-size: 25px;
    height: 20px;
}

.login-button{
    @extend .centre-align-item;
    margin-top: 50px;
}

.search-bar{
    width: 10% !important;
    border-color: black;
}

.autocomplete {
    position: relative;
    display: inline-block;
  }

  .planet-name{
    justify-content: center;
    display: flex;
    color: red;
    font-weight: bold;
    font-size: 79px;
  }

  .planet-details{
    font-size: 50px;
    font-family: cursive;
    color: chocolate;
  }

  .search-header{
    width : 66%;
    font-size: 60px;
    color: blueviolet;
  }

  .search-text{
    color: goldenrod;
    font-family: cursive;
    font-weight: bold;
    font-size: 22px;
}

.image-style{
    margin-left: 10px;
    position: relative;
}